/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2025, 11:44:38 AM
    Author     : ACER
*/

.loki{
    -fx-background-color: #181818  ;

    -fx-text-fill:#fff;
}
.hulk{

    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-radius: 20px 0px 0px 0px;
   
    -fx-background-radius: 20px 0px 0px 0px;
     -fx-text-fill:#fff;
}
.menu-item {
    -fx-text-fill: #aaaaaa; 
    -fx-font-size: 14px;
    -fx-border-width: 0 0 1px 0; 
    -fx-border-style: solid;
    -fx-border-color: transparent; 
    -fx-transition: all 0.3s ease-in-out;
}

.menu-item:hover {
    -fx-border-color: #FF3B5C;
    -fx-text-fill: white; 
}
